AnchorPane
{
    -fx-background-color: white;
}

.Secondary-Button
{
    -fx-background-color : #8a9fb4;
    -fx-text-fill: white;
    -fx-background-radius: 7px;
}
.Secondary-Button:hover
{
    -fx-background-color : #a2afcc;

}
.Secondary-Button:pressed
{
    -fx-background-color: #a8b8c9 ;
}
.Primary-Button
{
    -fx-background-radius: 7px;
    -fx-background-color :  #39CEFF;
    -fx-border-width: 0;
    -fx-text-fill:  #FFF;

}
.Primary-Button:hover
{
    -fx-background-color : #00c2ff;
}
.Primary-Button:pressed
{
    -fx-background-color : #39CEFF ;
}
.utility-Button
{
    -fx-background-radius: 7px;
    -fx-background-color :  #eceff5;
    -fx-border-width: 0;
    -fx-text-fill: #586169;

}
.utility-Button:hover
{
    -fx-background-color : #dfe4ea;
}
.utility-Button:pressed
{
    -fx-background-color : #eceff5 ;
}
.message-bubble
{
    -fx-border-width: 0;
    -fx-background-radius: 0 10 10 10;
    /*-fx-background-radius: [10px,0px,10px,10px];*/

}
.message-bubble
{
    -fx-background-radius: 0 20 20 20;
}

.credentials-text-field {
    -fx-background-radius: 5px 5px 5px 5px;

    -fx-background-color:  #FFFF;
    /*-fx-background-color:  #F6FAFE;*/
    -fx-border-radius: 5px;
    -fx-border-color: #FFFF;
    -fx-border-width: 1px 6px 0px 6px;
    -fx-prompt-text-fill: #aeaeb2;
    -fx-font-size: 12;
}
.error-label
{
    -fx-text-fill: #FF7777;
    -fx-font-size: 12;
    -fx-padding: -4px -2px -5px 0px;
}
.background
{
    -fx-background-color: #eef3fa;
}
.Field-Label
{
    -fx-text-fill: #696F79;
}

